<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Champay - Dashboard</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <h1>Champay Event Selection</h1>
        {% if username %}
            <div class="user-info">{{ username[0] }}</div>
        {% endif %}
    </header>
    <main>
        {% with message=message %}
            {% include 'flash_messages.html' %}
        {% endwith %}
        <section class="group-form">
            <h2>Select an event to report expenses</h2>
            <form action="{{ url_for('dashboard') }}" method="post">
                <div class="form-group">
                    <label for="group">Events:</label>
                    <select name="group" id="group">
                        {% for group in groups %}
                            <option value="{{ group.id }}">{{ group.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Go" class="center-button">
                </div>
            </form>
        </section>
    </main>
</body>
</html>
