<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Champay - Dashboard</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <h1>Champay Event Selection</h1>
        {% if username %}
            <div class="user-info" onclick="toggleDropdown()">{{ username[0] }}</div>
            <div id="dropdown" class="dropdown-content">
                <a href="{{ url_for('logout') }}">Logout</a>
            </div>
        {% endif %}

    </header>
    <main>
        {% with message=message %}
            {% include 'flash_messages.html' %}
        {% endwith %}
        <section class="group-form">
            {% if groups %}
                <h2>Select an event to report expenses</h2>
                <form action="{{ url_for('dashboard') }}" method="post">
                    <div class="form-group">
                        <label for="group">Events:</label>
                        <select name="group" id="group">
                            {% for group in groups %}
                                <option value="{{ group.id }}">{{ group.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Go" class="center-button">
                    </div>
                </form>
            {% else %}
                <p class="error-message">You are not a member of any groups.</p>
                <p class="error-message">Please contact the administrator to join a group.</p>
            {% endif %}
        </section>

        <section class="group-form">
            <h2>Create New Event</h2>
            <form action="{{ url_for('create_group') }}" method="post">
                <div class="form-group">
                    <label for="event-name">Event Name:</label>
                    <input type="text" id="event-name" name="event-name" class="event-name-input" required>
                </div>
                <div class="form-group">
                    <input type="submit" value="Add Friends" class="center-button">
                </div>
            </form>
        </section>
        
        
    </main>
    <script>
        function toggleDropdown() {
            const dropdown = document.getElementById("dropdown");
            dropdown.classList.toggle("show");
        }

        window.onclick = function(event) {
            if (!event.target.matches(".user-info")) {
                const dropdown = document.getElementById("dropdown");
                if (dropdown.classList.contains("show")) {
                    dropdown.classList.remove("show");
                }
            }
        };

        function changeCursor() {
            const userInfo = document.querySelector(".user-info");
            userInfo.style.cursor = "pointer";
            userInfo.style.backgroundColor = "#4CAF50";
        }

        function restoreCursor() {
            const userInfo = document.querySelector(".user-info");
            userInfo.style.cursor = "auto";
            userInfo.style.backgroundColor = "";
        }
    </script>
</body>
</html>
