<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Champay - Edit Group</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">    

</head>

<body>
    <header>
        <div class="header-content">
            <div class="user-info-container">
                <div class="user-info" onclick="toggleDropdown()">{{ username[0] }}</div>
                <div id="dropdown" class="dropdown-content">
                    <a href="{{ url_for('logout') }}">Logout</a>
                </div>
            </div>
            <h1>{{ group_name }} members</h1>
        </div>
    </header>
    <div class="menu-panel">
        <div>
            <a href="{{ url_for('dashboard') }}" class="back2events-link">
                <span class="material-icons">
                    home
                </span>
            </a>            
            <a href="{{ url_for('group_settings', group_id=group.id) }}" class="back2events-link">Edit weight</a>
            <a href="{{ url_for('edit_group', group_id=group.id) }}" class="back2events-link">Edit members</a>
            <a href="{{ url_for('group_tasks', group_id=group.id) }}" class="back2events-link">Planning</a>
            <a href="{{ url_for('group_expenses', group_id=group.id) }}" class="back2events-link">Expenses</a>
            <a href="{{ url_for('group_retrospective', group_id=group.id) }}" class="back2events-link">Retrospective</a>
      </div>
    </div>
    
    <main>
        <section class="group-form">
            <h2>Hi {{ username }}, add or remove friends</h2>

            <!-- The form for adding users -->
            <form action="{{ url_for('search_friends') }}" method="post" class="form-inline search-form" onsubmit="event.preventDefault(); searchFriends();">
                <div class="form-group">
                    <label for="email">Friend's Email:</label>
                    <div class="search-wrapper">
                        <input list="friendsEmails" type="text" id="email" name="email" required>
                        <datalist id="friendsEmails">
                            <!-- Previous friends' emails will be inserted here -->
                        </datalist>
                        <button class="search-button">Add Friend</button>
                    </div>
                </div>
            </form>

            <div id="search-results">
                <!-- Search results will be inserted here -->
            </div>

            <!-- Group members list -->
            <div class="users-create-group">
                <p>List of participants:</p>
            </div>

            <table id="user-table" class="friend-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    {% for member in group_members %}
                        <tr>
                            <td>{{ member.username }}</td>
                            <td>{{ member.email }}</td>
                            <td><button class="remove-button" onclick="removeUser('{{ member.email }}', this)">Remove</button></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div id="warning-container" class="warning-container"></div>
        </section>

        <div id="popup_flash" class="popup">
            <div class="popup-content">
                <p id="message_flash" class="popup_flash-success"></p>
                <button class="popup-button" onclick="hidePopupFlash()">OK</button>
            </div>
        </div>

        <div id="confirm_popup" class="popup">
            <div class="popup-content popup-warning">
                <p id="confirm_message"></p>
                <button class="popup-button" id="confirm_ok">OK</button>
                <button class="popup-button" id="confirm_cancel">Cancel</button>
            </div>
        </div>  
        <div id="warning-container" style="width:100%;"></div>          
    </main>

    <script type="text/javascript">
        // Initialize group members array with the current members of the group
        var groupMembers = [{% for member in group_members %}{ username: "{{ member.username }}", email: "{{ member.email }}" },{% endfor %}];

        // Load warning messages and fetch friends when the page is loaded
        window.onload = function() {
            fetchFriends();
            fetchNonMemberUsersWithTasks();

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    document.getElementById('message_flash').innerText = "{{ messages[0][1] }}";
                    document.getElementById('message_flash').className = "popup_flash-" + "{{ messages[0][0] }}";
                    document.getElementById('popup_flash').style.display = "flex";
                {% endif %}
            {% endwith %}
        };        
    
        // Function to search and add friends to the group
        function searchFriends() {
            
            var emailInput = document.getElementById("email");
            var email = emailInput.value;
            
            fetch("/search_friends", {
                method: "POST",
                body: JSON.stringify({ email: email }),
                headers: { "Content-Type": "application/json" },
            })
            .then(response => {
                if (!response.ok) {
                    return response.json().then(err => { throw new Error(err.error); });
                } else {
                    return response.json();
                }
            })
            .then(data => {
                if (data.user) {
                    // Check if user already exists in the groupMembers array
                    for (let i = 0; i < groupMembers.length; i++) {
                        if (groupMembers[i].email === data.user.email) {
                            // Display error message in a popup
                            document.getElementById('message_flash').innerText = "User already added to the group.";
                            document.getElementById('message_flash').className = "popup_flash-error";
                            document.getElementById('popup_flash').style.display = "flex";
                            return;
                        }
                    }

                    // Call the new server endpoint to add the user to the group and create an initial expense
                    fetch("/add_user_to_group", {
                        method: "POST",
                        body: JSON.stringify({ email: data.user.email, group_id: "{{ group.id }}" }),
                        headers: { "Content-Type": "application/json" },
                    })
                    .then(response => {
                        if (!response.ok) {
                            return response.json().then(err => { throw new Error(err.error); });
                        } else {
                            // Add user to the group members array and the table
                            var table = document.getElementById("user-table").getElementsByTagName('tbody')[0];
                            var row = table.insertRow(-1);
                            var nameCell = row.insertCell(0);
                            var emailCell = row.insertCell(1);
                            var removeCell = row.insertCell(2);
                            nameCell.innerHTML = data.user.username;
                            emailCell.innerHTML = data.user.email;

                            // Add the "Remove" button to the newly created row
                            removeCell.innerHTML = `<button class="remove-button" onclick="removeUser('${data.user.email}', this)">Remove</button>`;

                            groupMembers.push(data.user);
                            // Clear the input field
                            emailInput.value = '';

                            // Fetch non-member users with tasks after a new user is added
                            return fetchNonMemberUsersWithTasks();
                        }
                    })
                    .catch(error => {
                        // Display error message in a popup
                        document.getElementById('message_flash').innerText = error.message;
                        document.getElementById('message_flash').className = "popup_flash-error";
                        document.getElementById('popup_flash').style.display = "flex";
                    });
                }
            })
            .catch(error => {
                // Display error message in a popup
                document.getElementById('message_flash').innerText = error.message;
                document.getElementById('message_flash').className = "popup_flash-error";
                document.getElementById('popup_flash').style.display = "flex";
            });
        }


    
        // Functions for the dropdown menu
        function toggleDropdown() {
            const dropdown = document.getElementById("dropdown");
            dropdown.classList.toggle("show");
        }
    
        window.onclick = function (event) {
            if (!event.target.matches(".user-info")) {
                const dropdown = document.getElementById("dropdown");
                if (dropdown.classList.contains("show")) {
                    dropdown.classList.remove("show");
                }
            }
        }
    
        // Function to hide the flash popup
        function hidePopupFlash() {
            const popup = document.getElementById("popup_flash");
            popup.style.display = "none";
        }

        // Function to remove a user from the group
        function removeUser(email, buttonElement) {
            // Check if the user is trying to remove themselves from the group
            var current_user_email = "{{ current_user_email }}";
            if (email === current_user_email) {
                showConfirmPopup(
                    "Are you sure you want to remove yourself from the group? You won't be able to return to the group unless someone else adds you.",
                    function() {
                        // OK button callback
                        // Code to remove the user goes here
                        removeUserFromGroup(email, buttonElement);
                    },
                    function() {
                        // Cancel button callback
                        // Do nothing
                    }
                );
            } else {
                // If it's not the current user, proceed to remove the user directly
                removeUserFromGroup(email, buttonElement);
            }
        }

        function removeUserFromGroup(email, buttonElement) {
            fetch("/remove_user_from_group", {
                method: "POST",
                body: JSON.stringify({ email: email, group_id: "{{ group.id }}" }),
                headers: { "Content-Type": "application/json" },
            })
            .then(response => {
                if (!response.ok) {
                    return response.json().then(err => {
                        // Display error message in a popup
                        document.getElementById('message_flash').innerText = err.error;
                        document.getElementById('message_flash').className = "popup_flash-error";
                        document.getElementById('popup_flash').style.display = "flex";
                        throw new Error(err.error); 
                    });
                } else {
                    // Remove user from the group members array and the table
                    for (let i = 0; i < groupMembers.length; i++) {
                        if (groupMembers[i].email === email) {
                            groupMembers.splice(i, 1);
                            break;
                        }
                    }

                    // Remove the row from the table
                    var row = buttonElement.parentNode.parentNode;
                    row.parentNode.removeChild(row);

                    // If the removed user is the current user, redirect to the dashboard page
                    var current_user_email = "{{ current_user_email }}";
                    if (email === current_user_email) {
                        window.location.href = "{{ url_for('dashboard') }}";
                    }

                    // After removing the user, fetch the non-member users with tasks
                    return fetchNonMemberUsersWithTasks();
                }
            })
            .catch(error => {
                // Display error message in a popup
                document.getElementById('message_flash').innerText = error.message;
                document.getElementById('message_flash').className = "popup_flash-error";
                document.getElementById('popup_flash').style.display = "flex";
            });
        }

        function fetchNonMemberUsersWithTasks() {
            fetch("/get_non_member_users_with_tasks", {
                method: "POST",
                body: JSON.stringify({ group_id: "{{ group.id }}" }),
                headers: { "Content-Type": "application/json" },
            })
            .then(response => {
                if (!response.ok) {
                    return response.json().then(err => { throw new Error(err.error); });
                } else {
                    return response.json();
                }
            })
            .then(data => {
                var warningContainer = document.getElementById("warning-container");

                // Clear the previous warning message, if any
                warningContainer.innerText = "";

                if (data.non_member_users.length > 0) {
                    var message = "Warning: The following users have tasks in the group but are no longer members: ";

                    for (let i = 0; i < data.non_member_users.length; i++) {
                        message += data.non_member_users[i].username;
                        if (i < data.non_member_users.length - 1) {
                            message += ", ";
                        }
                    }

                    warningContainer.style.color = "red";
                    warningContainer.innerText = message;


                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }      

        function showConfirmPopup(message, okCallback, cancelCallback) {
            // Set the message
            document.getElementById('confirm_message').innerText = message;

            // Set what happens when the OK button is clicked
            document.getElementById('confirm_ok').onclick = function() {
                hideConfirmPopup();
                okCallback();
            };

            // Set what happens when the Cancel button is clicked
            document.getElementById('confirm_cancel').onclick = function() {
                hideConfirmPopup();
                cancelCallback();
            };

            // Show the popup
            document.getElementById('confirm_popup').style.display = "flex";
        }

        function hideConfirmPopup() {
            // Hide the popup
            document.getElementById('confirm_popup').style.display = "none";
        }

        function fetchFriends() {
            fetch("/previous_friends", {
                method: "GET",
                headers: { "Content-Type": "application/json" },
            })
            .then(response => {
                if (!response.ok) {
                    return response.json().then(err => { throw new Error(err.error); });
                } else {
                    return response.json();
                }
            })
            .then(data => {
                const datalist = document.getElementById('friendsEmails');
                data.friends.forEach(friend => {
                    const option = document.createElement('option');
                    option.value = friend.email;
                    datalist.appendChild(option);
                });
            })
            .catch(error => {
                // Handle any errors here
            });
        }

    </script>
    
</body>

</html>
