<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Champay - Group Expenses</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>


<body>
    <header>
        <div class="header-content">
            <div class="user-info-container">
                <div class="user-info" onclick="toggleDropdown()">{{ username[0] }}</div>
                <div id="dropdown" class="dropdown-content">
                    <a href="{{ url_for('logout') }}">Logout</a>
                </div>
            </div>
            <h1>{{ group.name }} Expenses</h1>
        </div>
    </header>
    <div class="menu-panel">
        <div>
            <a href="{{ url_for('dashboard') }}" class="back2events-link {% if request.endpoint == 'dashboard' %}active-page{% endif %}">
                <span class="material-icons">
                    home
                </span>
            </a>            
            <a href="{{ url_for('edit_group', group_id=group.id) }}" class="back2events-link {% if request.endpoint == 'edit_group' %}active-page{% endif %}">Settings</a>
            <a href="{{ url_for('group_tasks', group_id=group.id) }}" class="back2events-link {% if request.endpoint == 'group_tasks' %}active-page{% endif %}">Planning</a>
            <a href="{{ url_for('group_expenses', group_id=group.id) }}" class="back2events-link {% if request.endpoint == 'group_expenses' %}active-page{% endif %}">Expenses</a>
            <a href="{{ url_for('group_retrospective', group_id=group.id) }}" class="back2events-link {% if request.endpoint == 'group_retrospective' %}active-page{% endif %}">Retrospective</a>            
        </div>
    </div>

    <main>
        <section class="expense-form">
            <div class="expense-form-left">
                <h2>Hello {{ username }}, please add your expenses</h2>
                <form action="{{ url_for('group_expenses', group_id=group.id) }}" method="post" class="form-inline">
                    <div class="form-group">
                        <label for="expenses">How much:</label>
                        <input type="number" name="expenses" id="expenses" required>
                    </div>
                    <div class="form-group">
                        <label for="description">For what:</label>
                        <input type="text" name="description" id="description" required>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Approve" class="center-button">
                    </div>
                </form>
            </div>
        </section>
        <div class="user-expenses">
            <p>My weight in this event expenses is 
                <a href="{{ url_for('group_settings', group_id=group.id) }}" class="weight-link">
                    <button class="weight-display">{{ user_weight }}</button>
                </a>
            </p>
        </div>
        <div class="user-expenses">
            <p>List of user expenses</p>
            <a class="generate-report-link" href="#" onclick="generateReport()">Generate Report</a>
        </div>

        <section class="expense-table">
            <table class="center-table">
                <thead>
                    <tr>
                        <th>User (weight)</th>
                        <th>Description</th>
                        <th>Expenses</th>
                        <th>Last Updated</th>
                    </tr>
                </thead>
                <tbody>
                    {% for expense in group_expenses %}
                    <tr>
                        <td {% if expense.last_updated is none %}class="not-updated"{% endif %}>{{ expense.user }}</td>
                        <td {% if expense.last_updated is none %}class="not-updated"{% endif %}>{{ expense.description }}</td>
                        <td {% if expense.last_updated is none %}class="not-updated"{% endif %}>{{ expense.expenses }}</td>
                        <td {% if expense.last_updated is none %}class="not-updated"{% endif %}>
                            {% if expense.last_updated %}
                                {{ expense.last_updated.strftime("%Y-%m-%d %H:%M:%S") }}
                            {% else %}
                                Not updated yet
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>

        

        <!-- First Popup for "success" category -->
        <div id="popup_flash_success" class="popup">
            <div class="popup-content">
                <p id="message_flash_success" class="popup_flasf-success"></p>
                <button class="popup-button" onclick="hidePopupFlash('popup_flash_success')">OK</button>
            </div>
        </div>

        <!-- Second Popup for "warning" category or any other categories you might want to use -->
        <div id="popup_flash_warning" class="popup">
            <div class="popup-content">
                <p id="message_flash_warning" class="popup_flash-warning"></p>
                <button class="popup-button" onclick="generateReportAnyway()">Generate</button>
                <button class="popup-button" onclick="hidePopupFlash('popup_flash_warning')">Cancel</button>
            </div>
        </div>        
    
        <script type="text/javascript">
            window.onload = function() {
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            let messageCategory = "{{ messages[0][0] }}";
                            let messageText = "{{ messages[0][1] }}";

                            if (messageCategory === "success" || messageCategory === "error") {
                                document.getElementById('message_flash_success').innerText = messageText;
                                document.getElementById('message_flash_success').className = "popup_flash-" + messageCategory;
                                document.getElementById('popup_flash_success').style.display = "flex";
                            } else if (messageCategory === "warning") {
                                document.getElementById('message_flash_warning').innerText = messageText;
                                document.getElementById('message_flash_warning').className = "popup_flash-" + messageCategory;
                                document.getElementById('popup_flash_warning').style.display = "flex";
                            } // You can add more else-if branches for other message categories if needed.
                        {% endif %}
                    {% endwith %}
                };
        </script>

    </main>
    <script>
        function toggleDropdown() {
            const dropdown = document.getElementById("dropdown");
            dropdown.classList.toggle("show");
        }

        window.onclick = function (event) {
            if (!event.target.matches(".user-info")) {
                const dropdown = document.getElementById("dropdown");
                if (dropdown.classList.contains("show")) {
                    dropdown.classList.remove("show");
                }
            }
        };

        function changeCursor() {
            const userInfo = document.querySelector(".user-info");
            userInfo.style.cursor = "pointer";
            userInfo.style.backgroundColor = "#4CAF50";
        }

        function restoreCursor() {
            const userInfo = document.querySelector(".user-info");
            userInfo.style.cursor = "auto";
            userInfo.style.backgroundColor = "";
        }

        function generateReport() {
            // Redirect to the report generation URL
            window.location.href = "{{ url_for('group_report', group_id=group.id) }}";
        }

        function generateReportAnyway() {
            // Redirect to the report generation URL with the force parameter set to true
            window.location.href = "{{ url_for('group_report', group_id=group.id) }}?force=true";
        }

        function hidePopupFlash(popupId) {
            document.getElementById(popupId).style.display = "none";
        }


    </script>
</body>

</html>
