<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Champay - Group Tasks</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">    
</head>

<body>
    <header>
        <div class="header-content">
            <div class="user-info-container">
                <div class="user-info" onclick="toggleDropdown()">{{ username[0] }}</div>
                <div id="dropdown" class="dropdown-content">
                    <a href="{{ url_for('logout') }}">Logout</a>
                </div>
            </div>
            <h1>{{ group_name }} Tasks</h1>
        </div>
    </header>
    <div class="menu-panel">
        <div>
            <a href="{{ url_for('dashboard') }}" class="back2events-link">
                <span class="material-icons">
                    home
                </span>
            </a>            
            <a href="{{ url_for('group_settings', group_id=group.id) }}" class="back2events-link">Edit weight</a>
            <a href="{{ url_for('edit_group', group_id=group.id) }}" class="back2events-link">Edit members</a>
            <a href="{{ url_for('group_tasks', group_id=group.id) }}" class="back2events-link">Planning</a>
            <a href="{{ url_for('group_expenses', group_id=group.id) }}" class="back2events-link">Expenses</a>
            <a href="{{ url_for('group_retrospective', group_id=group.id) }}" class="back2events-link">Retrospective</a>
       </div>
    </div>
    <main>
        <section class="task-list">
            <h2>Hi {{ username }}, add or manage tasks</h2>

           <!-- The form for adding tasks -->
            <form action="{{ url_for('add_task') }}" method="post" class="task-form" onsubmit="event.preventDefault(); addTask();">
                <div class="form-fields">
                    <div class="form-addtasks flex-05">
                        <label for="user">Assign to:</label>
                        <select id="user" name="user" required>
                        <!-- Option values will be filled in dynamically -->
                        </select>
                    </div>
                    <div class="form-addtasks flex-2">
                        <label for="task">Task Description:</label>
                        <input type="text" id="task" name="task" required>
                    </div>
                    <div class="form-addtasks-button flex-1">
                        <button class="addtask-button">Add Task</button>
                    </div>
                </div>
            </form>          

            <!-- Task list -->
            <p class="task-table-title">Group's Tasks</p>

            <div class="table-container">
                <table id="task-table" class="friend-table">
                    <thead>
                        <tr>
                            <th>User</th>  
                            <th>Task Description</th>  
                            <th>Actions</th>
                        </tr>
                    </thead>                
                    <tbody>
                        {% for task in group_tasks %}
                            <tr>
                                <td>{{ task.user.username }}</td>
                                <td>{{ task.text }}</td>
                                <td><button class="remove-button" onclick="removeTask('{{ task.id }}', this)">Remove</button></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div> 
        </section>

        <div id="popup_flash" class="popup">
            <div class="popup-content">
                <p id="message_flash" class="popup_flash-success"></p>
                <button class="popup-button" onclick="hidePopupFlash()">OK</button>
            </div>
        </div>
    </main>

    <script type="text/javascript">

        // Functions for the dropdown menu
        function toggleDropdown() {
            const dropdown = document.getElementById("dropdown");
            dropdown.classList.toggle("show");
        }

        // Add task
        function addTask() {
            var user = document.getElementById('user').value;
            var task = document.getElementById('task').value;

            fetch("/add_task", {
                method: "POST",
                body: JSON.stringify({ user: user, task: task, group_id: '{{ group.id }}' }),
                headers: { "Content-Type": "application/json" },
            })
            .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        throw new Error(data.error);
                    }
                    // Add task to the table
                    appendTask(data.task, user, data.task_id);

                    // Clear the task input field after successfully adding the task
                    document.getElementById('task').value = '';
                })
                .catch(error => {
                    // Display error message in a popup
                    document.getElementById('message_flash').innerText = error.message;
                    document.getElementById('message_flash').className = "popup_flash-error";
                    document.getElementById('popup_flash').style.display = "flex";
                });
        }


        // Append task to tasks table
        function appendTask(task, user, taskId) {
            var table = document.getElementById('task-table');
            var row = table.insertRow(-1);
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            var cell3 = row.insertCell(2);
            cell1.innerHTML = user;
            cell2.innerHTML = task;
            cell3.innerHTML = '<button class="remove-button" onclick="removeTask(\'' + taskId + '\', this)">Remove</button>';
        }

        window.onload = function() {
            // Fetch the users of the group
            fetch("/get_group_users", {
                method: "POST",
                body: JSON.stringify({ group_id: '{{ group.id }}' }),
                headers: { "Content-Type": "application/json" },
            })
            .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        throw new Error(data.error);
                    }
                    // Fill the users select options
                    var userSelect = document.getElementById('user');
                    data.users.forEach(function(user) {
                        var option = document.createElement('option');
                        option.value = user.username;
                        option.text = user.username;
                        userSelect.add(option);
                    });
                })
                .catch(error => {
                    // Display error message in a popup
                    document.getElementById('message_flash').innerText = error.message;
                    document.getElementById('message_flash').className = "popup_flash-error";
                    document.getElementById('popup_flash').style.display = "flex";
                });

            // Fetch the tasks of the group
            fetch("/get_tasks", {
                method: "POST",
                body: JSON.stringify({ group_id: '{{ group.id }}' }),
                headers: { "Content-Type": "application/json" },
            })
            .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        throw new Error(data.error);
                    }
                    // Fill the tasks table rows
                    data.tasks.forEach(function(task) {
                        appendTask(task.task, task.user, task.id);
                    });
                })
                .catch(error => {
                    // Display error message in a popup
                    document.getElementById('message_flash').innerText = error.message;
                    document.getElementById('message_flash').className = "popup_flash-error";
                    document.getElementById('popup_flash').style.display = "flex";
                });
        }
        function removeTask(taskId, element) {
            fetch("/delete_task", {
                method: "POST",
                body: JSON.stringify({ task_id: taskId }),
                headers: { "Content-Type": "application/json" },
            })
            .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        throw new Error(data.error);
                    }
                    // Remove task from the table
                    var row = element.parentNode.parentNode;
                    row.parentNode.removeChild(row);
                })
                .catch(error => {
                    // Display error message in a popup
                    document.getElementById('message_flash').innerText = error.message;
                    document.getElementById('message_flash').className = "popup_flash-error";
                    document.getElementById('popup_flash').style.display = "flex";
                });
        }
    </script>
</body>

</html>
