<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Champay - Group Retrospective</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <header>
        <div class="header-content">
            <div class="user-info-container">
                <div class="user-info" onclick="toggleDropdown()">{{ username[0] }}</div>
                <div id="dropdown" class="dropdown-content">
                    <a href="{{ url_for('logout') }}">Logout</a>
                </div>
            </div>
            <h1>{{ group.name }} Retrospective</h1>
        </div>
    </header>
    <div class="menu-panel">
        <div>
            <a href="{{ url_for('dashboard') }}" class="back2events-link">
                <span class="material-icons">
                    home
                </span>
            </a>            
            <a href="{{ url_for('group_settings', group_id=group.id) }}" class="back2events-link">Edit weight</a>
            <a href="{{ url_for('edit_group', group_id=group.id) }}" class="back2events-link">Edit members</a>
            <a href="{{ url_for('group_tasks', group_id=group.id) }}" class="back2events-link">Planning</a>
            <a href="{{ url_for('group_expenses', group_id=group.id) }}" class="back2events-link">Expenses</a>
            <a href="{{ url_for('group_retrospective', group_id=group.id) }}" class="back2events-link">Retrospective</a>
        </div>
    </div>
    
    <main>
        <section class="group-form">
            <h2>Hi {{ username }}, share your comments and conclusion to this event</h2>

            <form action="{{ url_for('add_comment') }}" method="post" class="retro-form">
                <input type="hidden" name="group_id" value="{{ group.id }}">
                <div class="form-group">
                    <label for="comment">Your Comment:</label>
                    <textarea id="comment" name="comment" placeholder="Write your retrospective conclusion here..." required></textarea>
                    <button type="submit" class="retro-button">Submit</button>
                </div>
            </form>       
            
             <!-- Group members list -->
             <div class="users-create-group">
                <p>Group's comments:</p>
            </div>

            <!-- Comments list -->
           
            <table id="user-table" class="friend-table">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Comment</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    {% for comment in group_comments %}
                        <tr>
                            <td>{{ comment.user.username }}</td>
                            <td>{{ comment.text }}</td>
                            <td><button class="remove-button" onclick="removeComment('{{ comment.id }}', this)">Remove</button></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>

        <div id="popup_flash" class="popup">
            <div class="popup-content">
                <p id="message_flash" class="popup_flasf-success"></p>
                <button class="popup-button" onclick="hidePopupFlash()">OK</button>
            </div>
        </div>

        <script type="text/javascript">
            window.onload = function() {
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}          
                        document.getElementById('message_flash').innerText = "{{ messages[0][1] }}";
                        document.getElementById('message_flash').className = "popup_flash-" + "{{ messages[0][0] }}";
                        document.getElementById('popup_flash').style.display = "flex";
                    {% endif %}
                {% endwith %}
            };
        </script>

    </main>

    <script type="text/javascript">
        // Functions for the dropdown menu
        function toggleDropdown() {
            const dropdown = document.getElementById("dropdown");
            dropdown.classList.toggle("show");
        }
    
        window.onclick = function (event) {
            if (!event.target.matches(".user-info")) {
                const dropdown = document.getElementById("dropdown");
                if (dropdown.classList.contains("show")) {
                    dropdown.classList.remove("show");
                }
            }
        }

        function removeComment(commentId, buttonElement) {
            fetch("/remove_comment", {
                method: "POST",
                body: JSON.stringify({ comment_id: commentId, group_id: "{{ group.id }}" }),
                headers: { "Content-Type": "application/json" },
            })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    throw new Error(data.error);
                } else {
                    // Remove the row from the table
                    var row = buttonElement.parentNode.parentNode;
                    row.parentNode.removeChild(row);
                }
                // Show the popup with the message
                document.getElementById('message_flash').innerText = data.message || data.error;
                document.getElementById('message_flash').className = "popup_flash-" + data.category;
                document.getElementById('popup_flash').style.display = "flex";
            })
            .catch(error => {
                console.error('Error:', error);
                // Show the popup with the error message
                document.getElementById('message_flash').innerText = error.message;
                document.getElementById('message_flash').className = "popup_flash-error";
                document.getElementById('popup_flash').style.display = "flex";
            });
        }


        function hidePopupFlash() {
            const popup = document.getElementById("popup_flash");
            popup.style.display = "none";
        }
    </script>
</body>

</html>
