<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Champay</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='homepage.css') }}">
</head>
<body>
    <header>
        <h1>Welcome to Champay!</h1>
    </header>
    <main>
        <section>
            <h2>Your Ultimate Trip Manager</h2>
            <p>Embarking on a new adventure with friends or colleagues? Champay is here to streamline the entire journey for you. From initial planning to setting tasks, from splitting expenses to reflecting on your experiences, Champay ensures every aspect of your trip is organized and stress-free.</p>
            <p>Dive into a seamless trip management experience, where everyone knows the plan, the costs, and can share their memories and feedback. With Champay, make every trip not just a memory, but a story worth retelling.</p>
        </section>
        <section>
            <h2>Login</h2>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        {% if category == 'error' %}
                            <p class="alert">{{ message }}</p>
                        {% elif category == 'success' %}
                            <p class="success">{{ message }}</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form action="/" method="post" id="login-form">
                <input type="hidden" name="timezone" id="timezone" value="">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" class="login-input" required>
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" class="login-input" required>
                <input type="submit" value="Login">
            </form>
        </section>
    </main>
    <script>
        document.getElementById("login-form").addEventListener("submit", function() {
            const tz = Intl.DateTimeFormat().resolvedOptions().timeZone;
            document.getElementById("timezone").value = tz;
        });
    </script>   
    <footer>
        <a href="{{ url_for('privacy_policy') }}">Privacy Policy</a>
        <a href="{{ url_for('privacy_policy') }}">Privacy Policy</a> | <a href="{{ url_for('terms_of_service') }}">Terms of Service</a>
    </footer> 
</body>
</html>
